<div class="app-directory-container">
  <!-- DIRECTORY COMPONENT -->
  <mat-form-field>
    <mat-label>Sort By</mat-label>
    <mat-select [(value)]="selectedSort" (selectionChange)="peopleData = peopleData">
      <mat-option [value]="sortByEnum.FirstNameAZ">First Name A to Z</mat-option>
      <mat-option [value]="sortByEnum.FirstNameZA">First Name Z to A</mat-option>
      <mat-option [value]="sortByEnum.LastNameAZ">Last Name A to Z</mat-option>
      <mat-option [value]="sortByEnum.LastNameZA">Last Name Z to A</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="app-directory">
    <div *ngFor="let seperator of separators">
      <div class="app-directory-separator">
        {{seperator}}
      </div>
      <div *ngFor="let person of separatorsToPeople.get(seperator)">
        <div class="app-directory-item"
             (click)="selectPerson(person)">
          {{person.name}}
        </div>
      </div>
    </div>
  </div>
</div>
