<div class="app-person-profile-container">
  <!-- PERSON PROFILE COMPONENT -->
  <div *ngIf="person; else showPlaceholder" class="app-person-profile docs-highlight docs-blue" data-intro="Person Profile" data-position="bottom">
    <!-- PERSON PROFILE HEADER -->
    <div class="app-person-profile-header">
      <!-- PHOTO -->
      <img class="app-person-profile-photo"
           [src]="getImageUrl()"
           onerror="this.src='../../../assets/avatar.png'"/>
      <h2>{{person.name ? person.name : 'Missing name'}}</h2>
      <div class="app-person-profile-department">
        {{person.department ? person.department: 'Missing department'}}
      </div>
      <div class="app-person-profile-phone-number">
        {{person.phoneNumber ? person.phoneNumber: 'Missing phone number'}}
      </div>
      <div class="app-person-profile-phone-number">
        <a *ngIf="person.email; else showMissingEmail" href="mailto:{{person.email}}">
          {{person.email}}
        </a>
        <ng-template #showMissingEmail>Missing email</ng-template>
      </div>
    </div>

    <!-- EDUCATION SECTION -->
    <div class="app-section">
      <div class="app-section-header">
        <h3>Education</h3>
      </div>
      <div class="app-section-body">
        <div class="app-history-item" *ngFor="let eduEntry of person.education">
          <div class="app-history-item-dates">
            {{getYearRangeString(eduEntry.startYear, eduEntry.endYear)}}
          </div>
          <div class="app-history-item-body">
            <div class="app-history-item-title">
              {{eduEntry.institution ? eduEntry.institution : 'Missing instituion'}}</div>
            {{eduEntry.degree ? eduEntry.degree : 'Missing degree'}}
          </div>
        </div>
      </div>
    </div>

    <!-- WORK HISTORY SECTION -->
    <div class="app-section">
      <div class="app-section-header">
        <h3>Experience</h3>
      </div>
      <div class="app-section-body">
        <div class="app-history-item" *ngFor="let workEntry of person.workExperience">
          <div class="app-history-item-dates">
            {{getYearRangeString(workEntry.startYear, workEntry.endYear)}}
          </div>
          <div class="app-history-item-body">
            <div class="app-history-item-title">
              {{workEntry.institution ? workEntry.institution : 'Missing institution'}}
            </div>
            {{workEntry.title ? workEntry.title : 'Missing job title'}}
          </div>
        </div>
      </div>
    </div>

  </div>
  <ng-template #showPlaceholder>
    <div class="app-person-profile">
      Please select a person from the directory!
    </div>
  </ng-template>
</div>
