/* You can add global styles to this file, and also import other style files */
/* resize the viewport to 100% width and height */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app-person-profile h2,
.app-person-profile h3,
.app-person-profile h4 {
  color: #008;
}

/* the Address Book container */
.app-address-book {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* the alphabetical list of people */
.app-directory-container {
  position: absolute;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  border-right: 2px solid #666;
}

.app-directory {
  overflow: auto;
}

.app-directory-separator,
.app-directory-item {
  padding: 2px 10px;
}

.app-directory-item {
  position: relative;
}

.app-directory-separator {
  font-size: 1.25em;
  color: #00f;
}

.app-directory-item:hover {
  background-color: #eef;
  cursor: pointer;
}

/* the detailed view of person profile */
.app-person-profile-container {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.app-person-profile {
  position: relative;
  overflow: auto;
  padding: 10px;
}

.app-person-profile-photo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 125px;
  height: 125px;
  border-radius: 113px;
  border: 2px solid #00f;
  overflow: hidden;
  background-size: contain;
}

.app-person-profile-header {
  min-height: 145px;
  margin-left: 145px;
}

.app-person-profile h2 {
  margin: 10px 0 0 0;
  padding: 0;
  color: #008;
}

.app-history-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.app-history-item-dates {
  flex: none;
  padding-right: 20px;
  font-weight: bold;
  width: 125px;
}

.app-history-item-body {
  flex-grow: 1;
}

.app-history-item-title {
  font-weight: bold;
}
